.container {
  max-width: 1000px;
  margin: 20px;
  padding: 20px;
}

.banner {
  height: 125px;
  padding: 20px;
  text-align: left;
  background-color: white;
}

.box {
  height: 200px;
  padding: 20px;
  text-align: left;
  background-color: white;
}

.boxOne {
}

.boxTwo {
}

.boxThree {
}

.boxFour {
}

.boxFive {
}
