.container {
  max-width: 1000px;
  margin: 20px;
  padding: 20px;
}

.boxOne {
  height: 200px;
  text-align: left;
  background-color: white;
}

.boxTwo {
  height: 200px;
  background-color: white;
}

.boxThree {
  height: 200px;
  background-color: white;
}

.boxFour {
  height: 200px;
  background-color: white;
}

.boxFive {
  height: 200px;
  background-color: white;
}
